tests/WSCryptDecrypt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ecomm.sella.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://ecomm.sella.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://ecomm.sella.it/">
      <s:element name="Encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="shopLogin" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uicCode" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shopTransactionId" nillable="true" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expiryMonth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expiryYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buyerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buyerEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="languageId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ppSellerProtection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shippingDetails" type="tns:ShippingDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentTypes" type="tns:PaymentTypes" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentTypeDetail" type="tns:PaymentTypeDetail" />
            <s:element minOccurs="0" maxOccurs="1" name="redFraudPrevention" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Red_CustomerInfo" type="tns:RedCustomerInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="Red_ShippingInfo" type="tns:RedShippingInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="Red_BillingInfo" type="tns:RedBillingInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="Red_CustomerData" type="tns:RedCustomerData" />
            <s:element minOccurs="0" maxOccurs="1" name="Red_CustomInfo" type="tns:RedCustomInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="Red_Items" type="tns:RedItems" />
            <s:element minOccurs="0" maxOccurs="1" name="Consel_MerchantPro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Consel_CustomerInfo" type="tns:ConselCustomerInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="payPalBillingAgreementDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ShippingDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="shipToName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shipToStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shipToCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shipToState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shipToCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shipToZip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shipToStreet2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PaymentTypes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="paymentType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PaymentTypeDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MyBankBankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdealBankCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RedCustomerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_StateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RedShippingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_StateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_HomePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_MobilePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_FaxPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipping_TimeToDeparture" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RedBillingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Billing_Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_DateOfBirth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_StateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_HomePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_WorkPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Billing_MobilePhone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RedCustomerData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MerchantWebSite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_IPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PC_FingerPrint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreviousCustomer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Red_Merchant_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Red_ServiceType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RedCustomInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserCustomData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RedItems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumberOfItems" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Red_Item" type="tns:RedItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RedItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item_ProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item_StockKeepingUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item_Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item_Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item_UnitCost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item_TotalCost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item_ShippingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item_GiftMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item_PartEAN_Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item_ShippingComments" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConselCustomerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Decrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shopLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CryptedString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EncryptSoapIn">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapIn">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:portType name="WSCryptDecryptSoap">
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptSoapIn" />
      <wsdl:output message="tns:EncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input message="tns:DecryptSoapIn" />
      <wsdl:output message="tns:DecryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCryptDecryptSoap" type="tns:WSCryptDecryptSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="https://ecomm.sella.it/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="https://ecomm.sella.it/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCryptDecryptSoap12" type="tns:WSCryptDecryptSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encrypt">
      <soap12:operation soapAction="https://ecomm.sella.it/Encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap12:operation soapAction="https://ecomm.sella.it/Decrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCryptDecrypt">
    <wsdl:port name="WSCryptDecryptSoap" binding="tns:WSCryptDecryptSoap">
      <soap:address location="https://ecomms2s.sella.it/gestpay/GestPayWS/WsCryptDecrypt.asmx" />
    </wsdl:port>
    <wsdl:port name="WSCryptDecryptSoap12" binding="tns:WSCryptDecryptSoap12">
      <soap12:address location="https://ecomms2s.sella.it/gestpay/GestPayWS/WsCryptDecrypt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>